# Python
__pycache__/
*.pyc
*.pyo

# Entornos virtuales
.venv/
venv/

# Archivos de VS Code
.vscode/

# Archivos generados
python/output/

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/
build/